@import 'styles/_base';

.activities-list-controls {
  @extend .flex-center-row;

  position: absolute;
  right: 0;

  &.visible {
    visibility: hidden;
  }

  & > * {
    margin: 0 8px 0 8px;
  }

  .controls-filter {
    margin-right: 32px;
    &-checkbox {
      margin-right: 8px;
    }
  }
}